h3 {
    color: rgb(198, 37, 95);
}

#search {
        background-color: rgb(225, 250, 235);
}

#search_bar {
    padding-top: 50px;
}

#text {
    margin: auto;
    text-align: center;
    padding: 100px 20px 10px 10px;
    font-size: 18px;
}

#searchclear {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 30px;
    margin: auto;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: rgb(153, 163, 145) ;
}

#dropdownMenu1 {
    height: auto;
    max-height: 375px;
    overflow-x: hidden;
}
