{% extends "firstApp/index.html" %}
{% load staticfiles %}

{% block content %}

<div class="table-responsive">
    <form id ="all_players_form" class = "form-inline" onsubmit="submit_data.call(this,event)">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <strong>Select Category</strong>
                <select class="form-control" name="category">
                    <option value="0" selected>All Categories</option>
                    <option value="1">Players</option>
                    <option value="2">Umpires</option>
                </select>
        </div>

        <div class="col-sm-3">
            <strong>Select Country</strong>
                <select class="form-control" name="country">
                    <option value="0" selected>All Countries</option>
                    <option value="India">India</option>
                    <option value="Aus">Australia</option>
                    <option value="South">South Africa</option>
                    <option value="Pak">Pakistan</option>
                    <option value="Eng">England</option>
                    <option value="New">New Zeland</option>
                    <option value="Sri">Sri Lanka</option>
                    <option value="West">West Indies</option>
                    <option value="Zim">Zimbabwe</option>
                    <option value="Neth">Netherland</option>
                    <option value="Bang">Bangladesh</option>
                </select>
        </div>
        <div class="col-sm-2">
            <input class="btn" type="submit">
        </div>
    </form>
</div>

<div class="table-responsive" id = "all_players">

</div>
{% endblock content %}

{% block js%}
<script type="text/javascript" src ="{% static "js/all_players.js" %}"></script>
{% endblock js%}
