{% extends "firstApp/index.html" %}
{%load staticfiles %}

{% block content %}

<h1 style = "text-align : center">Compare Players</h1>

<table class="table table-striped table-bordered table-hover col-md-12" style = "text-align : center">
    <thead>
        <td class = "col-md-5">
            <div id = "search_bar">
                <div class="col-md-9">
                    <input class="form-control" type="search" id="search1" name="player" onkeyup="player(event,1)" placeholder="Search Player Here...">

                    <span id="searchclear1" class="glyphicon glyphicon-remove-circle"></span>

                    <div class="row col-md-12">
                        <div class="dropdown" id="search_box1" style="width: 100%; margin: 0 auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label >Player 1</label>
                </div>
            </div>
        </td>
        <td class = "col-md-2" style="padding-top: 55px">
            <button class = "btn btn-default" onclick="compare()" style = "background-color : #337ab7; color : white">Submit</button>
        </td>

        <td class = "col-md-5">
            <div id = "search_bar">
                <div class="col-md-3">
                    <label >Player 2</label>
                </div>

                <div class="col-md-9">
                    <input class="form-control" type="search" id="search2" name="player" onkeyup="player(event,2)" placeholder="Search Player Here...">

                    <span id="searchclear2" class="glyphicon glyphicon-remove-circle"></span>

                    <div class="row col-md-12">
                        <div class="dropdown" id="search_box2" style="width: 100%; margin: 0 auto;">
                        </div>
                    </div>
                </div>
            </div>
        </td>
     </thead>
     <tbody>

     </tbody>
</table>

<br>
{% endblock content %}
{% block js%}
    <script type="text/javascript" src ="{% static "js/player_compare.js" %}"></script>
{% endblock js%}
