{% extends "firstApp/index.html" %}
{% block content %}

<div style = "float : left; width : 70%">
    {% for p in player %}
    <h3><strong>{{p.Player_Name}} ({{p.Country}})</strong></h3>
    <h5>Name : {{p.Player_Name}}</h5>
    <h5>DOB : {{p.DOB}}</h5>
    <h5>Age : {{p.age_years}} years {{p.age_months}} months {{p.age_days}} days</h5>
    <h5>Batting Hand : {{p.Batting_Hand}}</h5>
    <h5>Bowling Skill : {{p.Bowling_Skill}}</h5>

    {%endfor%}

    <div class="container">
        {% for p in player %}
        <a href="/runs-match/{{p.Player_Id}}">Runs per Match</a>
        {%endfor%}
    </div>
</div>

<div  style="float : left; padding : 20px 50px 10px 20px">
    {% for p in player %}
    <img src ="{{p.image_link}}" style = "float : right" width="220px" height="200px" class="img-rounded">
    {%endfor%}
</div>
<div style = "clear: both"></div>

{% endblock content %}
