{% extends "firstApp/index.html" %}
{% load app_tags %}

{% block content %}

<div id = "player_details">
    {% for p in player %}
    <h3><strong>{{p.Player_Name}} ({{p.Country}})</strong></h3><br>
    <h5><strong>Name</strong> : {{p.Player_Name}}</h5>
    <h5><strong>DOB</strong> : {{p.DOB}}</h5>
    <h5><strong>Age</strong> : {{p.age_years}} years {{p.age_months}} months {{p.age_days}} days</h5>
    <h5><strong>Batting Hand</strong> : {{p.Batting_Hand}}</h5>
    <h5><strong>Bowling Skill</strong> : {{p.Bowling_Skill}}</h5>

    {%endfor%}

    <div style="padding-top : 10px">
        {% for p in player %}
        <a href="/runs-match/{{p.Player_Id}}">Per Match Batting Analysis</a><br>
        <a href="/wickets-match/{{p.Player_Id}}">Per Match Bowling Analysis</a><br>
        <a href="/team-season/{{p.Player_Id}}">Teams played for per Season</a><br>

        {%endfor%}
    </div>
</div>

<div id = "player_img">
    {% for p in player %}
    <img src ="{{p.image_link}}" width="220px" height="200px" class="img-rounded">
    {%endfor%}
</div>
<div style = "clear: both"></div>

<div class="table-responsive">
    <h3>Batting Stats</h3>
    <table class = "table table-striped table-bordered table-hover" id = "player_table">
        <thead>
            <td><strong>Season Year</strong></td>
            <td><strong>Innings</strong></td>
            <td><strong>Not outs</strong></td>
            <td><strong>Runs</strong></td>
            <td><strong>High Score</strong></td>
            <td><strong>Average</strong></td>
            <td><strong>Balls Faced</strong></td>
            <td><strong>Strike Rate</strong></td>
            <td><strong>Hundreds</strong></td>
            <td><strong>Fifties</strong></td>
            <td><strong>Fours</strong></td>
            <td><strong>Sixes</strong></td>

        </thead>
        <tbody>
            {%for p in score %}
            <tr>
                <td>{{p.season_id|add:"2007"}}</td>
                <td class = "player_innings">{{p.Innings}}</td>
                <td class = "player_notout">{% sub p.Innings p.Outs %}</td>
                <td class = "player_runs">{{p.Runs}}</td>
                <td class = "player_highest">{{p.highest}}</td>
                <td >{%div p.Runs p.Outs%}</td>
                <td class = "player_balls">{{p.Balls}}</td>
                <td>{{p.strike}}</td>
                <td class = "player_hundred">{{p.hundred}}</td>
                <td class = "player_fifty">{{p.fifty}}</td>
                <td class = "player_four">{{p.Fours}}</td>
                <td class = "player_six">{{p.Sixes}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <h3>Bowling Stats</h3>
    <table class = "table table-striped table-bordered table-hover" id = "bowler_table">
        <thead>
            <td><strong>Season Year</strong></td>
            <td><strong>Wickets</strong></td>
            <td><strong>Runs Conceded</strong></td>
            <td><strong>Extras Conceded</strong></td>
            <td><strong>Balls Bowled</strong></td>
            <td><strong>Economy</strong></td>
            <td><strong>Average</strong></td>
            <td><strong>Strike Rate</strong></td>

        </thead>
        <tbody>
            {%for p in bowling %}
            <tr>
                <td>{{p.season_id|add:"2007"}}</td>
                <td class = "bowler_wickets">{{p.wickets}}</td>
                <td class = "bowler_runs">{{p.runs|add:p.extra}}</td>
                <td class = "bowler_extras">{{p.extra}}</td>
                <td class = "bowler_balls">{{p.balls}}</td>
                <td >{%econ p.balls p.runs p.extra%}</td>
                <td >{%avg p.runs p.extra p.wickets%}</td>
                <td >{%div p.balls p.wickets%}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}
