{% extends "firstApp/index.html" %}
{% block content %}
<h3>Batting Analysis Per Match</h3>

<table class = "table table-striped table-bordered table-hover">
    <thead>
        <td><strong>Match Date</strong></td>
        <td><strong>Venue</strong></td>
        <td><strong>How dismissed</strong></td>
        <td><strong>Runs</strong></td>
        <td><strong>balls</strong></td>
        <td><strong>Strike rate</strong></td>

    </thead>
    <tbody>
        {%for p in runs %}
        <tr>
            <td><a href="/match/{{p.match_id}}">{{p.match_date}}</a></td>
            <td>{{p.venue_name}}, {{p.city_name}}</td>

            {% if p.dissimal_type == 'bowled' %}
            <td>b {{p.bowler_id}}</td>

            {% elif p.dissimal_type == 'runout' or p.dissimal_type == 'run out'%}
            <td>Run out ({{p.fielder_id}})</td>

            {% elif p.dissimal_type == 'caught'%}
            <td>c {{p.fielder_id}} b {{p.bowler_id}}</td>

            {% elif p.dissimal_type == 'stumped'%}
            <td>st {{p.fielder_id}} b {{p.bowler_id}}</td>

            {% elif p.dissimal_type == 'lbw' %}
            <td>lbw b {{p.bowler_id}}</td>

            {% elif p.dissimal_type == 'caught and bowled' or p.dissimal_type == 'caughtandbowled' %}
            <td>c & b {{p.bowler_id}}</td>

            {% elif p.dissimal_type is NULL%}
            <td>Not out</td>

            {% endif %}

            <td>{{p.sum1}}</td>
            <td>{{p.balls}}</td>
            <td>{{p.str}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
