{% extends "firstApp/index.html" %}
{% block content %}
<div class="container" style = "padding-top : 20px">
    <div class="row col-md-8" style = "padding-left : 40%">
        <table class = "table table-stdiped table-bordered table-hover" style = "text-align : center">
            <thead>
                <tr>
                <td>Season Year</td>
                </tr>

            </thead>
            <tbody >
                <tr><td><a href="/season/1/">2008</a></td></tr>
                <tr><td><a href="/season/2/">2009</a></td></tr>
                <tr><td><a href="/season/3/">2010</a></td></tr>
                <tr><td><a href="/season/4/">2011</a></td></tr>
                <tr><td><a href="/season/5/">2012</a></td></tr>
                <tr><td><a href="/season/6/">2013</a></td></tr>
                <tr><td><a href="/season/7/">2014</a></td></tr>
                <tr><td><a href="/season/8/">2015</a></td></tr>
                <tr><td><a href="/season/9/">2016</a></td></tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
