{% extends "firstApp/index.html" %}
{% block content %}
<div class="container" style = "padding-top : 20px">
    <div class="table-responsive col-md-8" style = "padding-left : 40%">
        <table class = "table table-striped table-bordered table-hover" style = "text-align : center">
            <thead>
                <tr><td><strong>Season Year</strong></td></tr>
            </thead>
            <tbody >
                {% for p in season %}
                    <tr>
                        <td><a href="/season/{{p.Season_Id}}/">{{p.Season_Year}}</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
